<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "aside.html" . -}}
        <main id="main">
            

            <!-- This is my own stuff to add the funny wiggly thing to the top of my page, it might need CSS media stuff later -->

             
            
            <!-- end quote -->

            <a href="javascript:void(0)" id="closebtn" onclick="navToggle()"><i class="fas fa-bars fa-lg"></i></a>
            <div class="content">
                {{- block "main" . }}
                {{- end }}
                <!-- This is my own stuff to add the funny wiggly thing to the top of my page, it might need CSS media stuff later -->

                <!-- <img class = "left_aligned_image" src="{{ "avatar.gif" | absURL}}"    Commented out for the time being.-->

                <!-- Not finished, I need to make a new container on the left and right sides and figure out how to repeat the gif endlessly -->
            </div>
        {{- partial "footer.html" . -}}
        </main>
    </body>
    <script src={{"js/navbutton.js" | absURL }}></script>
</html>
